@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
li{
    display: inline-block;
    font-size: 25px;
    padding-top: 5px;
}
li.menu{
    padding-left: 20px;
}
ul{
    padding-left: 0;
    margin: 0 0 0 0;
}a{
    text-decoration: none;
    color: black;
}
.top{
    transition: 0.25s;
}
.top:hover{
    font-size: 30px;
    transition: 0,2s;
}
body{
    margin: 0 0 0 0 ;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.header{
    box-shadow: 3px 3px 8px  black;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-color: rgb(221, 113, 25);
}
#right1{
    margin-left: 520px;
}
.col-inner{
    padding-top: 70px;
    padding-left: 20px;
    font-size: 25px;
}
hr{
    width: 280px;
    margin:  0 0 0 160;
}
